

body{

    background-image: linear-gradient(to right, rgb(80, 233, 220), rgb(181,209,56));
}


ul.navbar{

    
    list-style-type: none;
    padding: 0px;
    background-image: linear-gradient(to right,#000000, #035063);      
    overflow: hidden;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    
}

ul.navbar li{
    margin-left :20px;
    display:inline-block;
   
}

ul.navbar li a{
    display:block;
    padding: 10px;                    
    color: white;
    text-decoration: none;
 }

 ul.navbar li a:hover{

background-color:rgb(31, 101, 148);
 }

 ul.navbar li.right {
    margin-left:auto;
    float:right;
 }

 
.search-bar{
    margin-left:auto;
    margin-right:0px;
    display:flex;
}
.search-bar form{

    margin-left:20px;
    margin-right:20px;
    display:flex;
}

.search-bar input[type="text"]{
    
    padding:10px;
    width:200px;
    height:10px;
    margin-top: 3px;
    border-radius:0px;                    
    margin-right:5px;
}

.search-bar button[type="submit"]{

    padding:10px;
    background-color:#0b589b;
    border:none;
    border-radius:40px;            
    width: 80px;                  
    height: 25px;                
    font-size: 18px;            
    margin-top: 6px;
    padding: 3px;
    font-family:'Times New Roman', Times, serif;  
    color:#0f0e0e;
    cursor:pointer;
}

.search-bar button:hover{

    background-color: #ffffff;
}

.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1mm;
}
.name{
    color: #000000;
}
.profile-cont{
    border: 1px solid rgb(244, 235, 235);
    margin-bottom: 100px;
    margin-right: 300px;
    margin-left: 200px;
    padding:20px;
    background-image: linear-gradient(to right, rgba(68, 58, 58, 0.548), rgb(170, 165, 165)) ;
}

.proImg{
    margin-left: 120px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.proImg:hover{
    border-radius: 100px;
    border: 1px solid black;
}

.profile-details{
    color: rgb(29, 29, 29);
   margin-left: 100px;
}
.profile-details{
    font-size: 20px;
}
.edit_btn{
    color: #d4d4d4;
    background-color: rgb(69, 74, 121);   
    border-radius:40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 15px;
}
.edit_btn:hover{
    background-color: #035063;
}

.div1{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(87, 114, 233), rgb(236, 248, 255));
}

.linkDetails{
    color: black;
}
.linkDetails:hover{
    color: red;
}


.div2{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 8px;
    background-image: linear-gradient(to right, rgb(87, 114, 233), rgb(236, 248, 255));
}
.div3{
    margin-right: 100px;
}

.div4{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 8px;
    background-image: linear-gradient(to right, rgb(87, 114, 233), rgb(236, 248, 255));
}

.alldiv{
    display: flex;
    flex-direction: row;
}

.topic{
    font-size: 20px;
}



footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-info,
.services,
.offers {
    flex: 1;
    margin-right: 30px;
}

.contact-info h3,
.services h3,
.offers h3 {
    color: wheat;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info ul,
.services ul,
.offers ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li,
.services ul li,
.offers ul li {
    margin-bottom: 5px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {

  
    color: #dfdbed;
}

.upic{

color: #131111;

}

